{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="form">
            {% csrf_token %}
            
            <h3>Para mais detalhes selecione uma empresa</h3>
            {% for file in dict %}
            <ul>
                <li>
                    <a href="http://127.0.0.1:8000/companies/{{ file}}">{{ file}}</a>
                </li>
            </ul>
                {% endfor %}
            </table>
        </div>
    </div>
</body></html>